<html style="background-color: #F5EDED;">
<!--<a href="https://www.google.com">Google</a>-->
<!--<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>-->
<h1 style="color: #921A40;text-align:center;font-family:poppins;">¡Hola a todos!</h1>
<h2 style="background-color:#C75B7A;color: #F5EDED;font-family:poppins;text-align:center;">Mi nombre es Laura Valentina Castro Gallego</h2>
<h3 style="color: #C75B7A;font-family:poppins;text-align:center;"> Esta es mi primera página (en varios años) en HTML, gracias al curso FrontEnd (UX)</h3>
<h4 style="background-color: #D9ABAB;color: #921A40;font-family:poppins;text-align:center;">Nací en Bogotá, Colombia y vivo en Ciudad Bolívar 
   con mis padres y mi hermana</h4>
<img src="../assets/ciudad-bolivar.jpg" width="500" height="300" alt="Ciudad Bolívar" style="display: block; margin: 0 auto;">
<h5 style="color: #921A40;font-family:poppins;text-align:center;">Tengo 20 años y estudio Diseño Digital y Multimedia en la Universidad Colegio Mayor de Cundinamarca,
   estoy en octavo semestre y me gusta mucho mi carrera, no elegiría otra área para dedicar mi vida profesional.</h5>
<h6 style="color: #C75B7A;font-family:poppins;text-align:center;">Muchas gracias</h6>
</html>