<div class="gen">
     <table class="estilotabla">
        <!-- <tr>
        <th class="titulo">Semanario Laura Castro</th>
        </tr> -->
        <caption class="titulo">Semanario Laura Castro</caption>
        <tr>
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
        </tr>
        <tr>
            <td>06:00AM</td>
            <td>Dormir</td>
            <td colspan="2" rowspan="2">Alistarme</td>
            <td colspan="2">Dormir</td>
            <td rowspan="2">Dormir</td>
            <td rowspan="3">Dormir</td>
        </tr>
        <tr>
            <td>07:00AM</td>
            <td rowspan="3">Terminar modelado diagnóstico</td>
            <td rowspan="2">Alistarme</td>
            <td rowspan="2">Tomar apuntes de proyectos con la comunidad</td>
        </tr>
        <tr>
            <td>08:00AM</td>
            <td colspan="2">Ir a la U</td>
            <td>Buscar artículos</td>
        </tr>
        <tr>
            <td>09:00AM</td>
            <td rowspan="2">Clase de proyectos con la comunidad</td>
            <td rowspan="2">Clase de redacción</td>
            <td>Ir a la U</td>
            <td colspan="3">Desayunar</td>
        </tr>
        <tr>
            <td>10:00AM</td>
            <td>Desayunar</td>
            <td rowspan="2">Clase de modelado</td>
            <td colspan="2">Hacer ejercicio</td>
            <td rowspan="2">Alistarme</td>
        </tr>
        <tr>
            <td>11:00AM</td>
            <td>Hacer ejercicio</td>
            <td rowspan="2">Hueco</td>
            <td>Hueco</td>
            <td>Tomar apuntes de redacción</td>
            <td rowspan="2">Arreglarme</td>
        </tr>
        <tr>
            <td>12:00M</td>
            <td rowspan="2">Terminar de leer para ética</td>
            <td>Almorzar</td>
            <td>Hueco</td>
            <td rowspan="2">Pasar ensayo a digital</td>
            <td rowspan="5">Almuerzo con amiguis</td>
        </tr>
        <tr>
            <td>01:00PM</td>
            <td>Almorzar</td>
            <td rowspan="2">Clase de ética</td>
            <td>Almorzar</td>
            <td>Almorzar</td>
        </tr>
        <tr>
            <td>02:00PM</td>
            <td>Recoger a Sofi</td>
            <td rowspan="2">Clase de seminario</td>
            <td rowspan="2">Clase de seminario</td>
            <td>Recoger a Sofi</td>
            <td>Pasar artículos a Miro</td>
        </tr>
        <tr>
            <td>03:00PM</td>
            <td>Almorzar</td>
            <td rowspan="2">Clase de probabilidad</td>
            <td>Almorzar</td>
            <td>Lectura de proyectos con la comunidad</td>
        </tr>
        <tr>
            <td>04:00PM</td>
            <td rowspan="2">Definir corazonadas</td>
            <td rowspan="2">Volver a casa</td>
            <td rowspan="2">Clase de investigación</td>
            <td rowspan="2">Adelantarme en FrontEnd</td>
            <td rowspan="3">Modelar personaje</td>
        </tr>
        <tr>
            <td>05:00PM</td>
            <td rowspan="2">Volver a casa</td>
            <td rowspan="2">Volver a casa</td>
            
        </tr>
        <tr>
            <td>06:00PM</td>
            <td rowspan="4">Clase FrontEnd</td>
            <td rowspan="4">Clase FrontEnd</td>
            <td rowspan="2">Volver a casa</td>
            <td rowspan="4">Clase FrontEnd</td>
        </tr>
        <tr>
            <td>07:00PM</td>
            <td rowspan="3">Clase FrontEnd</td>
            <td colspan="2">Comer</td>
        </tr>
        <tr>
            <td>08:00PM</td>
            <td rowspan="2">Clase FrontEnd</td>
            <td rowspan="4" colspan="2">Dormir</td>
        </tr>
        <tr>
            <td>09:00PM</td>
        </tr>
        <tr>
            <td>10:00PM</td>
            <td rowspan="2">Buscar proyectos en repositorio</td>
            <td rowspan="2">Hacer borrador de ensayo</td>
            <td rowspan="2">Leer artículos</td>
            <td>Planear agenda</td>
            <td rowspan="2">Corregir ensayo</td>
        </tr>
        <tr>
            <td>11:00PM</td>
            <td>Dormir</td>
        </tr>        
     </table>
</div>