<div class="contenedor">
    <div class="presentacion">
        <h1>Hoja de vida</h1>
        <h2>Laura Castro</h2>
        <img src="../assets/Foto.jpg" class="foto" alt="Icono laura diseña">
    </div>
    <div class="habilidades_idiomas">
        <h3>Habilidades</h3>
        <ul class="listahabilidades">
            <li>Trabajo en equipo</li>
            <li>Comunicación asertiva</li>
            <li>Organización y gestión de tiempo</li>
            <li>Creatividad e innovación</li>
            <li>Adaptabilidad y resolución de problemas</li>
        </ul>
        <img src="../assets/Iconos.png" class="iconos" alt="Iconos de programas">
    </div>
    <div class="estudio">
        <table>
            <caption class="titulotabla">Estudios</caption>
            <tr>
                <th>Año</th>
                <th>Institución</th>
                <th>Logro</th>
            </tr>
            <tr>
                <td>2019</td>
                <td>Instituto Jerusalén</td>
                <td>Bachillerato</td>
            </tr>
            <tr>
                <td>2020</td>
                <td>Instituto SMART</td>
                <td>Módulo Pre-Avanzado de Inglés C1</td>
            </tr>
            <tr>
                <td>2023</td>
                <td>Universidad Nacional de Colombia - ATENEA</td>
                <td>Diplomado nivel básico en diseño de Interfaces UX/UI</td>
            </tr>
            <tr>
                <td>2024</td>
                <td>British Council</td>
                <td>English Advanced (B2) Course</td>
            </tr>
            <tr>
                <td>2025</td>
                <td>Universidad Colegio Mayor de Cundinamarca</td>
                <td>Pregrado en Diseño Digital y Multimedia</td>
            </tr>
        </table>
    </div>
    <div class="habilidades_idiomas">
        <h3>Idiomas</h3>
        <ul class="listahabilidades">
            <li>Español</li>
                <dd style="margin-left: 8px;">- Nativo</dd>
            <li>Inglés</li>
                <dd style="margin-left: 8px;">- Avanzado</dd>
        </ul>
        <h3>Logros</h3>
        <ul class="listahabilidades">
            <li>Nominación Premios Pluma Digital</li>
                <dd style="margin-left: 8px;">- Azul (2022)</dd>
                <dd style="margin-left: 8px;">- El misterioso olor en el nuevo barrio (2021)</dd>
        </ul>
    </div>
    <footer class="footer">
        <div class="icono">
            <img src="../assets/IconNeg.png" width="80px" height="auto" alt="IconoNegativo">
        </div>
        <div class="datos">
            <h4 class="tipografiafooter_1">
            Nombre<br>
            Teléfono
            </h4>
            <p class="tipografiafooter_2">
            Laura Valentina Castro Gallego<br>
            3208269676
            </p>
            <h4 class="tipografiafooter_1">
            Email<br>
            Ciudad
            </h4>
            <p class="tipografiafooter_2">
            laug6392&#64;gmail&#46;com<br>
            Bogotá, Colombia
            </p>
        </div>
        <div class="redessociales">
            <img src="../assets/linkedIn.png" class="logoredsocial" alt="LogoLinkedIn">
            <h4 class="tipografiafooter_1">
            lauradesigner
            </h4>
            <img src="../assets/instagram.png" class="logoredsocial" alt="LogoInstagram">
            <h4 class="tipografiafooter_1">
             lauravc_designer
            </h4>
        </div>
    </footer>
</div>